/*midnight winter color palate*/


html {
    background-image: linear-gradient(#000000,#020b36);
    background-repeat: no-repeat;
    color:#e3e3ff;
    min-height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #020bdd, 0 0 30px #020bee;
}

#wireRunner {
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    font-size: 40px;
    background-color: transparent;
    color: #d6fffb;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion:hover{
      background-color:#040d38;
      text-decoration: underline;
      border-radius: 50px;
      text-shadow: 0 0 20px #020bdd, 0 0 30px #020bee;
  }

  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .codeBlocks {
      background-color: #230745;
      border-radius: 1px;
      border-color: #b3e3f4;
      border-style: solid;
      word-wrap: break-word;
      text-align: left;
      white-space: pre-line;
      padding-left: 10px;
      border-radius: 20px;
    }